html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    title Slideshow With Navigation Buttons
    
  body
    div(class="slidershow middle")
      div(class="slides")
        input(type="radio", name="r", id="r1", checked)
        input(type="radio", name="r", id="r2")
        input(type="radio", name="r", id="r3")
        input(type="radio", name="r", id="r4")
        input(type="radio", name="r", id="r5")
        div(class="slide s1")
          img(src="https://images.pexels.com/photos/1064535/pexels-photo-1064535.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
        div(class="slide") 
          img(src="https://images.pexels.com/photos/976919/pexels-photo-976919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", alt="")
        div(class="slide")
          img(src="https://images.pexels.com/photos/1082635/pexels-photo-1082635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", alt="")
        div(class="slide")
          img(src="https://images.pexels.com/photos/1612368/pexels-photo-1612368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", alt="")
        div(class="slide")
          img(src="https://images.pexels.com/photos/1525075/pexels-photo-1525075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", alt="")
      div(class="navigation")
        label(for="r1", class="bar")
        label(for="r2", class="bar")
        label(for="r3", class="bar")
        label(for="r4", class="bar")
        label(for="r5", class="bar")
    